<link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/dependencies/a.jquery-1.11.1.min.js"></script>
    <script src="/js/dependencies/can.jquery.js"></script>
    <script src="/js/can.ejs.js"></script>
<ul id='messages'></ul>
<form id='create-message' action=''>
    <input type="text" id="body" placeholder="type message here ..."/>
</form>	

<script id="messageEJS" type="text/ejs">
	<% this.forEach(function(message){ %>
	    <li><%= message.body %></li>
	<% }) %>
</script>
<script src='http://agile-everglades-1937.herokuapp.com/socket.io/socket.io.js'></script>
<script src="/js/chat.js"></script>